.Notifications {
  border: 2px dashed #e1354b;
  padding: 20px 5px;
  margin: 5px;
  position: fixed;
  right: 1%;
  left: 65%;
}

button {
  border: none;
  background: none;
  cursor: pointer;
}

ul {
  padding-top: 15px;
  padding-left: 40px;
}

[data-notification-type='default'] {
  color: blue;
}

[data-notification-type='urgent'] {
  color: red;
}

.menuItem {
  text-align: right;
  font-weight: bold;
  padding: 5px;
  padding-right: 20px;
}
