* {
  font-family: Arial, Helvetica, sans-serif;
}

#CourseList th {
  border-bottom: 1px solid lightgray;
  height: 25px;
  text-align: left;
}

#CourseList th[colspan='2'] {
  text-align: center;
}
