.App-header {
  border-bottom: 3px solid #E0434C;
  display: flex;
  align-items: center;
  height: 162px;
  width: 100%;
}
.App-header img {
  height: 159px;
  width: 159px;
}
.App-header h1 {
  color: #E0434C;
  font-weight: 900;
  font-size: 2rem;
}